{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block page_content %}
{% block head %}
{{ super() }}
<script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
<link href="/static/css/styles.css" type="text/css" rel="stylesheet">
{% endblock %}
    <div class="col-md-8">
        {% for foo in list %}
        <div class="blog-main">
          <div class="post-summary">
            <div class="post-head">
              <h3><a href="{{ url_for('main.read' , id=foo.id) }}">{{foo.title}}</a></h3>
            </div>
            <h6><a href="{{url_for('main.listarticle',id=foo.user_id)}}"><span class="label label-info">{{foo.user.username}}</span></a>&nbsp;&nbsp;{{foo.comments.count()}} Comments</h6>
            <div class="post-body">
                <p>{{foo.body|safe|truncate(305,True)}}</p>
            </div>
              <div class="post-footer">
              <a href="{{ url_for('main.read' , id=foo.id) }}">
                  <button class="btn btn-default" type="button">阅读全文</button>
              </a>
              </div>
        </div>
        {% endfor %}
    </div>
    {% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.listarticle',id=id) }}
    <!-- #注意此处要把参数传递进去 -->
</div>
{% endif %}
{% endblock %}
