{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block page_content %}
{% block head %}
{{ super() }}
<script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
<link href="/static/css/styles.css" type="text/css" rel="stylesheet">
{% endblock %}
    <div class="col-md-8">
        {% for foo in list %}
        <div class="blog-main">
          <div class="post-summary">
            <div class="post-head">
              <h3><a href="{{ url_for('main.read' , id=foo.id) }}">{{foo.title}}</a></h3>
            </div>
            <h6><a href="{{url_for('main.user',username=foo.user.username)}}"><span class="label label-info">{{foo.user.username}}</span></a>&nbsp;<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;{{foo.comments.count()}} Comments
            &nbsp;<span class="glyphicon glyphicon-tag"></span><a href="{{url_for('main.category',id=foo.category.id)}}">{{foo.category.name}}</a></h6>
            <div class="post-body">
                <p>{{foo.body|safe|truncate(305,True)}}</p>
            </div>
              <div class="post-footer">
              <a href="{{ url_for('main.read' , id=foo.id) }}">
                  <button class="btn btn-default" type="button">阅读全文</button>
              </a>
              </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <div class="col-sm-3 blog-sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-tags"></span>
                &nbsp;分类
            </div>
            <div class="panel-body">
                {% for category in categorys%}
                <p>
                    <span class="glyphicon glyphicon-tag"></span>
                    <a href="{{ url_for('main.category' , id=category.id) }}">{{category.name}}</a> <span class="badge">{{category.articles.count()}}</span>
                    <!-- 一开始在这里忘记两个大括号，一直没能把变量体现出来 -->
                <p>
                {%endfor%}
            </div>
        </div>
    </div>
    {% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.index') }}
</div>
{% endif %}
{% endblock %}
