{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}
{{ super() }}
<script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
{% endblock %}
{% block page_content %}
    <div class="col-md-12">
      <h1 align="center">Hello,{{username}}</h1>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>文章标题</th>
                <th>创建时间</th>
                <th>分类</th>
                <th>删除</th>
                <th>编辑</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in list %}
                <tr>
                    <!-- <td>{{ foo.id }}</td> -->
                    <td>{{ foo.title }}</td>
                    <td>{{ foo.create_time }}</td>
                    <td>{{ foo.category.name }}</td>
                    <td><a href="{{ url_for('admin.article_del',id=foo.id,a='del') }}">删除</a></td>
                    <td><a href="{{url_for('admin.article_edit',id=foo.id)}}">编辑</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('admin.article_write') }}"><button class="btn btn-default" type="button" >写文章</button></a>
        <!-- 一开始button没有被a标签完全包住所以点击button没有任何作用 -->
    </div>
{% endblock %}
