  <div class="col-md-8">
        {% for foo in list %}
        <div class="blog-main">
          <div class="post-summary">
            <div class="post-head">
              <h3><a href="{{ url_for('main.read' , id=foo.id) }}">{{foo.title}}</a></h3>
            </div>
            <h6><a href="{{url_for('main.listarticle',id=foo.user_id)}}"><span class="label label-info">{{foo.user.username}}</span></a>&nbsp;&nbsp;{{foo.comments.count()}} Comments</h6>
            <div class="post-body">
                <p>{{foo.body|safe|truncate(305,True)}}</p>
            </div>
              <div class="post-footer">
              <a href="{{ url_for('main.read' , id=foo.id) }}">
                  <button class="btn btn-default" type="button">阅读全文</button>
              </a>
              </div>
        </div>
        {% endfor %}
    </div>
